html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.btn {
    font-weight: 500;
}

.card {
    padding: 30px;
    width: 1200px;
    min-height: 400px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-search {
  
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
}