* {
    box-sizing: border-box;
    /* border: 0; 
    padding: 0; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

.last {
    /* flex-basis: 50%; */
}

.result::placeholder{
    padding: 2%;
    font-size: xx-large;
    font-weight: 1000;
}
